<a href="https://colab.research.google.com/github/ankitshrivastava2910/Deep-Learning-Projects/blob/main/Bank_Customer_Churn_prediction_using_artificial_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

### Importing the libraries

In [6]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [7]:
tf.__version__

'2.4.1'

## Part 1 - Data Preprocessing

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Importing the dataset

In [10]:
dataset = pd.read_csv('/content/drive/MyDrive/Customer Churn Data Set/Customer Churn.csv')

In [11]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [19]:
dataset.shape

(10000, 14)

In [29]:
dataset['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [ ]:
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [12]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [20]:
print(y)

[1 0 1 ... 1 1 0]

In [18]:
X.shape

(10000, 10)

### Encoding categorical data

Label Encoding the "Gender" column

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [22]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [24]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [26]:
X.shape

(10000, 12)

In [30]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [32]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [33]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [34]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [35]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [37]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [38]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [39]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7968
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5050 - accuracy: 0.7914
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4947 - accuracy: 0.7930
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4706 - accuracy: 0.8019
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4587 - accuracy: 0.7977
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4431 - accuracy: 0.7998
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4464 - accuracy: 0.7897
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4364 - accuracy: 0.7900
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4301 - accuracy: 0.7910
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4117 - accuracy: 0.7949
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4044 - accuracy: 0.7965
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4028 - accuracy: 0.7910
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3977 - accuracy: 0.7887
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3822 - accuracy: 0.8050
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3870 - accuracy: 0.8157
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3757 - accuracy: 0.8177
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3826 - accuracy: 0.8448
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3683 - accuracy: 0.8538
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3660 - accuracy: 0.8564
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3702 - accuracy: 0.8581
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3704 - accuracy: 0.8532
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3686 - accuracy: 0.8526
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3620 - accuracy: 0.8588
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3571 - accuracy: 0.8607
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3564 - accuracy: 0.8587
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3644 - accuracy: 0.8555
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3502 - accuracy: 0.8634
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3547 - accuracy: 0.8606
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3491 - accuracy: 0.8615
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3602 - accuracy: 0.8548
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3603 - accuracy: 0.8586
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3514 - accuracy: 0.8586
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3531 - accuracy: 0.8568
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3544 - accuracy: 0.8596
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8683
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8639
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3501 - accuracy: 0.8612
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3627 - accuracy: 0.8546
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8619
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3496 - accuracy: 0.8579
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3549 - accuracy: 0.8580
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3301 - accuracy: 0.8720
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3495 - accuracy: 0.8624
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3521 - accuracy: 0.8614
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.8616
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3480 - accuracy: 0.8612
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8664
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3482 - accuracy: 0.8607
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8658
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3404 - accuracy: 0.8627
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3526 - accuracy: 0.8565
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8655
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8675
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8652
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3493 - accuracy: 0.8583
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8665
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3574 - accuracy: 0.8592
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3436 - accuracy: 0.8647
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3506 - accuracy: 0.8622
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3432 - accuracy: 0.8643
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8693
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8656
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8623
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3438 - accuracy: 0.8648
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8672
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8693
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3413 - accuracy: 0.8642
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8649
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3283 - accuracy: 0.8709
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8639
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3512 - accuracy: 0.8596
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3503 - accuracy: 0.8590
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8696
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8655
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8698
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3505 - accuracy: 0.8595
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8615
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8639
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3479 - accuracy: 0.8589
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3531 - accuracy: 0.8573
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8652
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3285 - accuracy: 0.8672
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8631
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8644
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8664
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8666
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8682
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3211 - accuracy: 0.8742
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8654
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8673
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8636
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8627
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3409 - accuracy: 0.8633
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8673
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3303 - accuracy: 0.8627
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3312 - accuracy: 0.8637
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8604
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8660
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8702
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8696

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Prediction for given inputs (just for example)**



Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

**Solution**

In [40]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [41]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [42]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1502   93]
 [ 198  207]]

0.8545